.login {
    width: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    border: 2px ;
    padding: 20px;
}

.text-container {
    text-align: center;
    margin-bottom: 100px;
}

.input-container {
    height: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #F4F7F5; */
    width: 25%;
    /* border-radius: 25px; */
    padding: 8px;
    padding-left: 15px;
}

.input-container input {
    font-size: 20px;
    padding: 5px;
    border: 1px solid green;
}

.login-button {
    background: #00a1e4;
    width: 100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 20px;
    border-color: #02040F;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cancel-button {
    background: #ef455d;
    width: 100px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 20px;
    border-color: #02040F;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-button:hover {
    cursor: pointer;
}

.cancel-button:hover {
    cursor: pointer;
}

.disclaimer{
    margin-left: auto;
    margin-right:auto;
    margin-top: 100px;
}

input{
    border-style: hidden;
    width: fill;
}